{% load static from staticfiles %}
{% load compress %}
<!doctype html>
<html>
<head>
	<title>Sites For Mc</title>
	{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/css/main.scss' %}" />
    {% endcompress %}

</head>
<body>
<div class="wrapper">
{% block content %}
replace me
{% endblock content%}
</div>
<script src="{% static  'js/jquery.js' %}"></script>
<script src="{% static  'js/foundation.js' %}"></script>
<script src="{% static 'js/jquery.sortable.js' %}"></script>
<script src="{% static  'js/app.js' %}"></script>
</body>
</html>
