  {% extends 'base.html' %} 

{% block content %}
<header class="creator-header">
<h1 class="page-header">Creator</h1>
<nav class="horizontal-layout  ">
  <a class='nav-element' href = 'http://127.0.0.1:8000/'> Home </a>
  <a class='nav-element' href = 'http://127.0.0.1:8000/dashboard'> Dashboard </a>
  <a class='nav-element' href = ''> Account </a> 
</nav>
</header>

<div class="grid-x creatorWrapper">
  <div class="cell auto ">
  <div class="creator-section toolboxDiv">
      <h2>Toolbox</h2>
      <div class="grid-x toolbox-headers">
        <div class="cell auto first-toolbox-header toolbox-header">SFM Blocks</div>
        <div class="cell auto toolbox-header">My Blocks</div>
        <div class="cell auto toolbox-header">Top Blocks</div>
        <div class="cell auto toolbox-header">Search</div>      
      </div>
      <div class="block-tray">
        <ul class= 'sortable sortable-tray' id = "sortable-tray">
          <!-- <li class='toolbox-li'><a class='element-edit-link'>edit</a></li> -->
          </ul>
      </div>
  </div>
  </div>

  <div class="cell auto pageDiv">

    <h2>Page</h2>
    <input class = "creator-input site-name-input" type="text" placeholder="name" value = {{name}}>
    <ul class= 'sortable creator-section'  id = "sortable-main">
      <li class='editor-li  main-li'>{{primary_block.block_0}}<a class='element-edit-link'>edit</a></li>
      <li class='editor-li  main-li'>{{primary_block.block_1}}<a class='element-edit-link'>edit</a></li>
      <li class='editor-li  main-li'>{{primary_block.block_2}}<a class='element-edit-link'>edit</a></li>
      <li class='editor-li  main-li'>{{primary_block.block_3}}<a class='element-edit-link'>edit</a></li>
      <li class='editor-li  main-li'>{{primary_block.block_4}}<a class='element-edit-link'>edit</a></li>
    </ul>
    <button class = 'site-create-button big-button'>create new site</button>

  </div>


  <div class="cell auto "> 
    <h2>Editor</h2>
    <p class="not-editing-message">You are currently not editing an element.</br>Press edit to do so. </p>
    <div class="creator-section editor-div">
      <p class="editor-element-p">You are editing a<span class="editor-element-info"></span>element</p>
      <div class="editorDiv">
        <p class="field"></p>
        <form id="form1">
          <input class = "creator-input edit-input" type="text"  id="file-input-1">
          <label style = "display: none;" for="file-input-1">Select Image</label>
          <a style = "display: none;" class="clear-link">clear</a>
        </form>
      </div>

      <div class="editorDiv">
        <p class="field"></p>
        <form id="form2">
          <input class = "creator-input edit-input" type="text"  id="file-input-2">
          <label style = "display: none;" for="file-input-2">Select Image</label>
          <a style = "display: none;" class="clear-link">clear</a>
        </form>
      </div>

      <div class="editorDiv">
        <p class="field"></p>
        <form id="form3">
          <input class = "creator-input edit-input" type="text" id="file-input-3">
          <label style = "display: none;" for="file-input-3" >Select Image</label>
          <a style = "display: none;" class="clear-link">clear</a>
        </from>
      </div>
    </div>
    <div class="preview-div">
      <div class="preview-image-div"></div>
    </div>
    <div class="editor-button-div">

      <div class="selector-div">
        <a class="selector-link" id="selector-fields">Fields</a>
        <a class="selector-link" id="selector-preview">Preview</a>
      </div>
      <a class='confirm-edit-link'>Confirm</a>

    </div>

   
  </div>

</div>

<span id="value-dict-span" style="display: none;">{{value_dict}}</span>
{% endblock content%}