  {% extends 'base.html' %} 

{% block content %}
<header class="creator-header">
<h1>Creator</h1>
<nav class="horizontal-layout  ">
  <a class='nav-element' href = '#'> My site </a>
  <a class='nav-element' href = 'http://127.0.0.1:8000/dashboard'> Dashboard</a>
  <a class='nav-element' href = ''> Account </a> 
</nav>
</header>

<div class="grid-x creatorWrapper">

  <div class="cell auto toolboxDiv">
  <div class="creator-section">
      <h2>Toolbox</h2>
  </div>
  </div>

  <div class="cell auto pageDiv">

    <h2>Page</h2>
    <input class = "creator-input site-name-input" type="text" placeholder="name">
    <ul class= 'sortable creator-section'>
      <li class='editor-li'>
        {{primary_block.block_0}}
        <a class='element-edit-link'>edit</a>
      </li>
      <li class='editor-li'>
        {{primary_block.block_1}}
        <a class='element-edit-link'>edit</a>
      </li>
      <li class='editor-li'>
        {{primary_block.block_2}}
        <a class='element-edit-link'>edit</a>
      </li>
      <li class='editor-li'>
        {{primary_block.block_3}}
        <a class='element-edit-link'>edit</a>
      </li>
      <li class='editor-li'>
        {{primary_block.block_4}}
        <a class='element-edit-link'>edit</a>
      </li>
    </ul>
    <button class = 'site-create-button big-button'>create new site</button>

  </div>


  <div class="cell auto "> 
    <h2>Editor</h2>
    <p class="not-editing-message">You are currently not editing an element.</br>Press edit to do so. </p>
    <div class="creator-section editor-div">
      <p class="editor-element-p">You are editing the<span class="editor-element-info"></span>element</p>
      <div class="editorDiv">
        <p class="field"></p>
        <div>
          <input class = "creator-input edit-input" type="text">
        </div>
      </div>

      <div class="editorDiv">
        <p class="field"></p>
        <div>
          <input class = "creator-input edit-input" type="text">
        </div>
      </div>

      <div class="editorDiv">
        <p class="field"></p>
        <div>
          <input class = "creator-input edit-input" type="text">
        </div>
      </div>
      
      <a class='confirm-edit-link'>Confirm</a>
    </div>
   
  </div>

</div>

{% endblock content%}