
{% extends 'base.html' %} 
{% csrf_token %}
{% block content %}
<header>
	<h1 class="Main-heading">Dashboard</h1>
	<nav class="horizontal-layout">
		<a class='nav-element' href = 'http://127.0.0.1:8000/'> Home </a>
		<a class='nav-element' href = '#'> Dashboard</a>
		<a class='nav-element' href = ''> Account </a> 
	</nav>
</header>

<ul class='accordion data-allow-all-closed="true"'data-accordion>
	<li class="accordion-item" data-accordion-item>
	<a class="accordion-title">{{user_sites.site_0}}</a>
	<div class="accordion-content first-accordion" data-tab-content>
		<div class="grid-x">
			<div class="cell auto dash-columb">
				<h4>Quick Edit</h4>
				<ul class='sortable dash-editor'>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
				  </ul>
				<div class="dash-edit-buttons">
					<button class="small-button dash-edit-confirm">CONFIRM</button>
					<a class="full-editor-link" name={{user_sites.site_0}}>Full Editor</a>
				</div>
			</div>
			<div class="cell auto dash-columb">
				<h4>Manage</h4>
				<div class="all-switches">
					<div class="switch-div">
						<span class="switch-tag">Private</span>
						<span class="switch tiny dash-switch">
							<input class="switch-input manage-switch privacy-switch" id="public-switch" type="checkbox" name={{user_sites.site_0}}>
							<label class="switch-paddle manage-switch privacy-switch" for="public-switch"></label>
						</span>
						<span class="switch-tag">Public</span>
					</div>
					<div class="switch-div">
						<span class="switch-tag">Debug</span>
						<span class="switch tiny dash-switch">
							<input class="switch-input manage-switch production-switch" id="production-switch" type="checkbox" name="{{user_sites.site_0}}">
							<label class="switch-paddle manage-switch production-switch" for="production-switch"></label>
						</span>
						<span class="switch-tag">Final</span>
					</div>
				</div>
				<button class="small-button download-code-button" name={{user_sites.site_0}}>DOWNLOAD CODE</button>
				<button class="small-button dash-delete" name={{user_sites.site_0}}>DELETE</button>
			</div>
			<div class="cell auto dash-columb info-columb">
				<h4>Info</h4>
				<div class="info-div">
					<p><span>Name:</span><span class="site-data-span"></span></p>
					<p><span>Adress:</span><span  class="adress-span"><span class="site-data-span"></span><a>view</a></span></p>
					<p><span>Date created:</span><span class="site-data-span"></span></p>
					<p><span>Owner:</span><span class="site-data-span"></span></p>
					<p><span>Number of Visits:</span><span class="site-data-span"></span></p>
				</div>
				<a href={{user_site_urls.site_0}} class="small-button visit-link" target="_blank">VISIT</a>
			</div>
		</div>
		
	</div>
	</li>



	<li class="accordion-item " data-accordion-item>
	  <a href="#" class="accordion-title">{{user_sites.site_1}}</a>
	  <div class="accordion-content" data-tab-content>
		<div class="grid-x">
			<div class="cell auto dash-columb">
				<h4>Quick Edit</h4>
				<ul class='sortable dash-editor'>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
					<li class="quick-edit-elem-li editor-li"></li>
				  </ul>
				<div class="dash-edit-buttons">
					<button class="small-button dash-edit-confirm">CONFIRM</button>
					<a class="full-editor-link" name={{user_sites.site_1}}>Full Editor</a>
				</div>
			</div>
			<div class="cell auto dash-columb">
				<h4>Manage</h4>
				<div class="all-switches">
					<div class="switch-div">
						<span class="switch-tag">Private</span>
						<span class="switch tiny dash-switch">
							<input class="switch-input manage-switch privacy-switch" id="public-switch-2" type="checkbox" name={{user_sites.site_1}}>
							<label class="switch-paddle manage-switch privacy-switch" for="public-switch-2"></label>
						</span>
						<span class="switch-tag">Public</span>
					</div>
					<div class="switch-div">
						<span class="switch-tag">Debug</span>
						<span class="switch tiny dash-switch">
							<input class="switch-input manage-switch production-switch" id="production-switch-2" type="checkbox" name="{{user_sites.site_1}}">
							<label class="switch-paddle manage-switch production-switch" for="production-switch-2"></label>
						</span>
						<span class="switch-tag">Final</span>
					</div>
				</div>
				<button class="small-button download-code-button" name={{user_sites.site_1}}>DOWNLOAD CODE</button>
				<button class="small-button dash-delete" name={{user_sites.site_1}}>DELETE</button>
			</div>
			<div class="cell auto dash-columb info-columb">
				<h4>Info</h4>
				<div class="info-div">
					<p><span>Name:</span><span class="site-data-span"></span></p>
					<p><span>Adress:</span><span  class="adress-span"><span class="site-data-span"></span><a>view</a></span></p>
					<p><span>Date created:</span><span class="site-data-span"></span></p>
					<p><span>Owner:</span><span class="site-data-span"></span></p>
					<p><span>Number of Visits:</span><span class="site-data-span"></span></p>
				</div>
				<a href={{user_site_urls.site_1}} class="small-button visit-link" target="_blank">VISIT</a>
			</div>
		</div>	
	  </div>
	</li>

	<li class="accordion-item " data-accordion-item>
		<a class="accordion-title">{{user_sites.site_2}}</a>
		<div class="accordion-content" data-tab-content>
			<div class="grid-x">
				<div class="cell auto dash-columb">
					<h4>Quick Edit</h4>
					<ul class='sortable dash-editor'>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
					  </ul>
					<div class="dash-edit-buttons">
						<button class="small-button dash-edit-confirm">CONFIRM</button>
						<a class="full-editor-link" name={{user_sites.site_2}}>Full Editor</a>
					</div>
				</div>
				<div class="cell auto dash-columb">
					<h4>Manage</h4>
					<div class="all-switches">
						<div class="switch-div">
							<span class="switch-tag">Public</span>
							<span class="switch tiny dash-switch">
								<input class="switch-input" id="public-switch" type="checkbox" name="exampleSwitch">
								<label class="switch-paddle" for="public-switch"></label>
							</span>
							<span class="switch-tag">Private</span>
						</div>
						<div class="switch-div">
							<span class="switch-tag">Public</span>
							<span class="switch tiny dash-switch">
								<input class="switch-input" id="placeholder-switch" type="checkbox" name="exampleSwitch">
								<label class="switch-paddle" for="placeholder-switch"></label>
							</span>
							<span class="switch-tag">Private</span>
						</div>
					</div>
					<button class="small-button download-code-button" name={{user_sites.site_2}}>DOWNLOAD CODE</button>
					<button class="small-button dash-delete" name={{user_sites.site_2}}>DELETE</button>
				</div>
				<div class="cell auto dash-columb info-columb">
					<h4>Info</h4>
					<div class="info-div">
						<p><span>Name:</span><span class="site-data-span"></span></p>
						<p><span>Adress:</span><span  class="adress-span"><span class="site-data-span"></span><a>view</a></span></p>
						<p><span>Date created:</span><span class="site-data-span"></span></p>
						<p><span>Owner:</span><span class="site-data-span"></span></p>
						<p><span>Number of Visits:</span><span class="site-data-span"></span></p>
					</div>
					<a href={{user_site_urls.site_2}} class="small-button visit-link" target="_blank">VISIT</a>
				</div>
			</div>
		</div>
	</li>

	<li class="accordion-item " data-accordion-item>
		<a href="#" class="accordion-title">{{user_sites.site_3}}</a>
		<div class="accordion-content" data-tab-content>
			<div class="grid-x">
				<div class="cell auto dash-columb">
					<h4>Quick Edit</h4>
					<ul class='sortable dash-editor'>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
					  </ul>
					<div class="dash-edit-buttons">
						<button class="small-button dash-edit-confirm">CONFIRM</button>
						<a class="full-editor-link" name={{user_sites.site_3}}>Full Editor</a>
					</div>
				</div>
				<div class="cell auto dash-columb">
					<h4>Manage</h4>
					<div class="all-switches">
						<div class="switch-div">
							<span class="switch-tag">Public</span>
							<span class="switch tiny dash-switch">
								<input class="switch-input" id="public-switch" type="checkbox" name="exampleSwitch">
								<label class="switch-paddle" for="public-switch"></label>
							</span>
							<span class="switch-tag">Private</span>
						</div>
						<div class="switch-div">
							<span class="switch-tag">Public</span>
							<span class="switch tiny dash-switch">
								<input class="switch-input" id="placeholder-switch" type="checkbox" name="exampleSwitch">
								<label class="switch-paddle" for="placeholder-switch"></label>
							</span>
							<span class="switch-tag">Private</span>
						</div>
					</div>
					<button class="small-button download-code-button" name={{user_sites.site_3}}>DOWNLOAD CODE</button>
					<button class="small-button dash-delete" name={{user_sites.site_3}}>DELETE</button>
				</div>
				<div class="cell auto dash-columb info-columb">
					<h4>Info</h4>
					<div class="info-div">
						<p><span>Name:</span><span class="site-data-span"></span></p>
						<p><span>Adress:</span><span  class="adress-span"><span class="site-data-span"></span><a>view</a></span></p>
						<p><span>Date created:</span><span class="site-data-span"></span></p>
						<p><span>Owner:</span><span class="site-data-span"></span></p>
						<p><span>Number of Visits:</span><span class="site-data-span"></span></p>
					</div>
					<a href={{user_site_urls.site_3}} class="small-button visit-link" target="_blank">VISIT</a>
				</div>
			</div>
		</div>
	</li>

	<li class="accordion-item " data-accordion-item>
		<a href="#" class="accordion-title">{{user_sites.site_4}}</a>
		<div class="accordion-content" data-tab-content>
			<div class="grid-x">
				<div class="cell auto dash-columb">
					<h4>Quick Edit</h4>
					<ul class='sortable dash-editor'>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
						<li class="quick-edit-elem-li editor-li"></li>
					  </ul>
					<div class="dash-edit-buttons">
						<button class="small-button dash-edit-confirm">CONFIRM</button>
						<a class="full-editor-link" name={{user_sites.site_4}}>Full Editor</a>
					</div>
				</div>
				<div class="cell auto dash-columb">
					<h4>Manage</h4>
					<div class="all-switches">
						<div class="switch-div">
							<span class="switch-tag">Public</span>
							<span class="switch tiny dash-switch">
								<input class="switch-input" id="public-switch" type="checkbox" name="exampleSwitch">
								<label class="switch-paddle" for="public-switch"></label>
							</span>
							<span class="switch-tag">Private</span>
						</div>
						<div class="switch-div">
							<span class="switch-tag">Public</span>
							<span class="switch tiny dash-switch">
								<input class="switch-input" id="placeholder-switch" type="checkbox" name="exampleSwitch">
								<label class="switch-paddle" for="placeholder-switch"></label>
							</span>
							<span class="switch-tag">Private</span>
						</div>
					</div>
					<button class="small-button download-code-button" name={{user_sites.site_4}}>DOWNLOAD CODE</button>
					<button class="small-button dash-delete" name={{user_sites.site_4}}>DELETE</button>
				</div>
				<div class="cell auto dash-columb info-columb">
					<h4>Info</h4>
					<div class="info-div">
						<p><span>Name:</span><span class="site-data-span"></span></p>
						<p><span>Adress:</span><span  class="adress-span"><span class="site-data-span"></span><a>view</a></span></p>
						<p><span>Date created:</span><span class="site-data-span"></span></p>
						<p><span>Owner:</span><span class="site-data-span"></span></p>
						<p><span>Number of Visits:</span><span class="site-data-span"></span></p>
					</div>
					<a href={{user_site_urls.site_4}} class="small-button visit-link" target="_blank">VISIT</a>
				</div>
			</div>
		</div>
	</li>

</ul>

<span>{{data_dict}}</span>
<button  class = 'big-button dash-create-site-button'>create new site</button>
{% endblock content %}
