
{% extends 'base.html' %} 
{% csrf_token %}
{% block content %}
<header>
	<h1 class="Main-heading">Dashboard</h1>
	<nav class="horizontal-layout">
		<a class='nav-element' href = 'http://127.0.0.1:8000/'> Home </a>
		<a class='nav-element' href = '#'> Dashboard</a>
		<a class='nav-element' href = ''> Account </a> 
	</nav>
</header>

<ul class='accordion'data-accordion >
	<li class="accordion-item is-active" data-accordion-item>
	<a class="accordion-title">Site 1</a>
	<div class="accordion-content" data-tab-content>
		<p>data for site 1</p>
	</div>
	<li class="accordion-item " data-accordion-item>
	  <a href="#" class="accordion-title">Site 2</a>
	  <div class="accordion-content" data-tab-content>
		<p>data for site 2</p>
	  </div>
	</li>
</ul>

<a href = 'http://127.0.0.1:8000/creator/'><button  class = 'site-create-button'>create new site</button></a>
{% endblock content %}
