
{% extends 'base.html' %} 

{% block content %}
<header>
	<h1 class="Main-heading">Sites for MC</h1>
	<div class="SignIn">
		<p class='error-message message2'>{{ message2 }}<p>
		<h4 class="SignIn-heading">Sign In:</h3>
		<form class='SignIn-form' method="post">
			{% csrf_token %}
			<input class= 'SignIn-box'type="email" name="email" placeholder="Email">
			<input class= 'SignIn-box'type="password" name="password" placeholder="Password">
			<input type="submit" name="_signIn" value="Sign In" class="submit-button SignIn-button">
		</form>
	</div>

</header>
<div class =' SignUp'>
	<h1 class="SignUp-heading">Sign up</h1>
		<form method="post">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="password_repeat" placeholder="Repeat Password">
			<input type="submit" name="_signUp" value="Sign Up" class="submit-button">
		</form>
	<p class='error-message'>{{ message }}<p>

</div>

{% endblock content %}
