  {% extends 'base.html' %} 

{% block content %}
<div class="user-body">
<body id="top">
  <div class="user-wrapper">
    <header>
      <h1 class="page-header">{{content.name}}</h1>
      <nav class="horizontal-layout  ">
        <a href="#about" class="nav-element">{{content.block0.0}}</a>
        <a href="#internship" class="nav-element">{{content.block1.0}}</a>
        <a href="#heirarchy" class="nav-element">{{content.block2.0}}</a>
        <a href="#gallery" class="nav-element">{{content.block3.0}}</a>
        <a href="#gallery" class="nav-element">{{content.block4.0}}</a>
      </nav>
    </header>
    
   
    <h4 class="user-section-header ">{{content.block0.0}}</h4>
      <p class="user-block-text">{{content.block0.1}}.</p>
      <img class="user-image"src="{{image_urls}}">
    <h4 class="user-section-header ">{{content.block1.0}}</h4>   
      <p class="user-block-text">{{content.block1.1}}.</p>
    <h4 class="user-section-header ">{{content.block2.0}}</h4>
     <p class="user-block-text">{{content.block2.1}}.</p>
    <h4 class="user-section-header ">{{content.block3.0}}</h4>
      <p class="user-block-text">{{content.block3.1}}.</p>
    <h4 class="user-section-header ">{{content.block4.0}}</h4>
      <p class="user-block-text">{{content.block4.1}}.</p>
   
</div>
{% endblock content%}



 
     
