body {
	background: lightgray;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: black;
	padding:0px 20px 0 10px;	
	text-align: center;
	margin-bottom:30px;

}

h1 {
	display: inline;
	margin: 0;
	color:lightgray;
	font-size:60px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 50px;
}

.error-message {
	margin-top:20px;
	text-align: center;
	color:red;
	text-decoration: underline;
}

.nav-element{
	padding: 0 10px;
	color: lightgray;
	font-size:20px;
}

.nav-element:hover {
	text-decoration: underline;
	color:lightgray;
}


.big-button {
	padding: 25px;
	border: solid black 4px;
	display: block;
	margin:auto;
	margin-top:50px;
	transition: all 0.4s ease 0s;
	color:black;
	font-size:20px;
}

.small-button {
	padding: 5px;
	display: block;
	margin:auto;
	margin-top:15px;
	color:black;	
	border:1px solid black;
	margin-bottom:10px;
}

button:hover {
	color:lightgray;
    background: black;
	transition: all 0.4s ease 0s;
	border-width:1px;
}

a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:black;
	text-decoration: underline;
}

// sortable

.sortable {
	width: 360px;
	margin: auto;
}
.sortable li {
	text-align: center;
	list-style: none;
	border: 1px solid black;
	background:lightgray;
	color: black;
	margin: 5px 0;
	padding:5px 0;
	height:	44px;	
	text-align:center;
	padding-left:40px;	
	font-size: 19px;
}

li.sortable-placeholder {
	border: 1px dashed black;
	background: none;
}


/* popup -styles */

.popup {
    width: 25%;
    height:200px;
	margin:auto;
	color:lightgray;	
    border: 4px solid black;
	background: black;
    position: absolute;
    top:0;
    left:0;
    right: 0;
	bottom:0;
}

.popup-links{
	display: flex;
	justify-content: space-between;
	margin: auto;
	width:150px;
	text-align: center;
}
.popup-link {
	color:lightgray;
} 

.popup-link:hover {
	color:lightgray;
}
.popup-content{
	height:60%;
	width:80%;
	margin:auto;
	text-align: center;
}

.popup p {
	font-size:20px;
	text-decoration: underline;
	text-align:center;
}

