

//creator styles
 
#sortable-main {
	min-height: 240px;
}
.creator-input {
	width:360px;
	margin:auto;
	border: 1px solid black;
	height:44px;
}

.element-edit-link{
	margin-right:10px;	
	float: right;
	color:black;
	font-style:italic;
	height:100%;
	width:30px;
}

.element-edit-link:hover{
	text-decoration: underline;
	color:black;
}

.creator-section{
	width: 360px;
	margin: auto;
}

.editorDiv .creator-input{
	width: 130px;
	
}

.editorDiv p {	
	margin-bottom:0px;
	line-height: 39px;
	font-size: 20px;	
}

.editor-element-p {
	text-align:center;
	font-style:italic;
	border: dashed 1px black;
	height:44px;
	font-size:20px;
	line-height:44px;
	margin-bottom:15px;
}

.editorDiv{
	display: flex;
	justify-content:space-between;	
	width:100%;
	margin:auto;
	margin-bottom: 10px;		
}

.confirm-edit-link {
	margin: auto;
	width:100px;
	display: block;
	margin-top:30px;
	font-size:20px;	
	text-align: center;
	
}

.not-editing-message {
	font-style: italic;
	width: 360px;
	margin: auto;
	text-align: center;
	margin-top: 130px;
	font-size:20px;
}

//selct filez
.edit-input + label {
	border:1px solid black;
	height: 44px;
	line-height: 44px;
	width:200px;
	text-align: center;
}

.edit-input + label:hover {
	color:white;
	background: black;
	cursor: pointer;
}

.clear-link {
	width:50px;
	margin: auto;
	text-align: center;	
	display: block;
	margin-top:2px;
}

/* toolbox */
.toolboxDiv {
	width :400px; 
}


.toolbox-header {
	border:black 1px solid;
	border-left:none;
	text-align: center;
	cursor: pointer;
}

.toolbox-header:hover {
	color:white;
	background-color: black;
}

.first-toolbox-header {
	border:black 1px solid;
}

.block-tray {
	border: black 1px solid;
	margin-top: 5px;
	height: 386px;
	padding-top: 10px;
	overflow-y: auto;
}

.block-search {
	width:360px;
	border: 1px solid black;
	height:44px;
	padding:8px;
	margin-left:19px;
}

.empty-search-message {
	display: block;
	text-align: center;
	margin-top: 10px;
}
//selector div
.selector-div {
	margin:auto;
	text-align: center;
	margin-top: 25px;
}

.selector-link {
	display: inline-block;
	border:black 1px solid; 	
	text-align: center;
	cursor: pointer;
	padding:1px 5px;
	width: 85px;
}

.selector-link:hover {
	color:white;
	background-color: black;
	text-decoration: none;
}


//preview-div

.preview-div {
	text-align: center;
	border:1px black solid;
	margin: auto;
	padding: 5px;
	height: 300px;
	width: 360px;
	overflow: auto;
}

.image-preview-div {
	margin: 5px;
	display: inline-block;
	background: black;
	width: 150px;
	height: 120px;
	color:white;
	line-height: 120px;
}

.preview-image-div {
	margin-top: 10px;
}

//other

.editor-div{
	height:300px;
	overflow: auto;
}