//accordion
.accordion {
	width:60%;
	margin:auto;
	margin-top:50px;
	
}

.accordion-title {
	font-size: 20px;
}

.accordion-title{
	color:black
}

.accordion-content{
	height: 315px;
}

//dash styles

//quick edit
.dash-columb {
	text-align: center;
}

.dash-editor{
	margin-top:15px;
	width:200px;
}

.dash-editor li{
	height:25px;	
	text-align: center;
	font-size: 16px;
	padding:5px 0px 5px 0px;
	line-height: 15px;
}

.dash-edit-buttons > *{
	display: block;
}

.dash-edit-confirm {
	margin-top: 20px;
}

.download-code-button {
	margin:auto;
	margin-top:8px;
	margin-bottom:20px;
}
//manage
.radio-div {
	// background: lightgray;
	display: flex;
	justify-content: space-between;
	width: 200px;
	margin:auto;
}

.radio-div input{
	margin:0px;
	margin-top:6px;
}

.radio-div label {
	display: flex;
	justify-content: space-between;
	width:45%;
}
.public-radio-div{
	margin-top:15px;
}

.all-switches {
	height: 145px;
}

//info
	
.info-columb p{
	margin:0;
	margin-bottom:5px;
	
}

.info-div{
	margin-top:15px;
}

.info-div p {
	display: flex;
	justify-content: space-between;
	width:100%;
	overflow: hidden;
	white-space: nowrap;
}

.adress-span span{
	width:200px;
	text-align: right;
	margin-right: 5px;
}

.adress-span {
	display: flex;
	justify-content: space-between;
}

.visit-link {
	width: 75px;
	display: block;
	height: 28px;
	padding:0;
}

.visit-link:hover {
	text-decoration: none;
	background: black;
	color:white;
	transition: all 0.4s ease 0s;
		
}

.switch-tag {
	display: inline-block;
}

.switch-div {
	padding: 10px;	
	
}

.all-switches {
	padding-bottom: 0px;
	height:115px;
}
