//block styles

.user-section-header {
    text-align: center;
    background: black;
    color: white;
    margin: auto;
    width: 20%;
}

.user-block-text{
    text-align: center;
    margin:20px 0;
}

.user-blocks div {
    width:1000px;
    margin: auto;
    min-height: 150px;
    margin-bottom: 20px;
    padding:50px 0px ;
}

//iamge styles

.user-image{
    display: block;
    height:300px;
    margin-bottom: 2px;
    margin-right: 2px;
    display: inline-block;
}

.user-image-div {
    margin: auto;
    width : 1350px; 
    text-align: center;
}

//body

.user-body {
    margin-bottom:50px;
    
}


#block-2, #block-4 {
    background: black;
    color: white;
}
