//block styles

.user-section-header {
    text-align: center;
    background: black;
    color: white;
    margin: auto;
    width: 10%;
}

.user-block-text{
    text-align: center;
    margin:20px 0;
}